@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="Register">
            <h4>Create a new account.</h4>
            <hr>
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary-valid"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" type="email" id="Input_Email">
                <span asp-validation-for="Email" class="text-danger field-validation-valid"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" id="Input_Password">
                <span asp-validation-for="Password" class="text-danger field-validation-valid"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>
